html {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}
.container {
    max-width: 1112px;
    margin: auto;
    padding: 0 15px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
  }
  .header {
    background: #F8F6F7 url('../img/header-top.png');
    overflow: hidden;
    max-height: 591px;
    flex-shrink: 0;
    margin-bottom: 93px;
  }
  .header .container {
    position: relative;
    padding: 30px 0 130px;
  }
  
  .section {
    height: 100%;
  }
  .header__top {
    justify-content: space-between;
    margin-bottom: 136px;
    display: flex;
  }
  .header__logo {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    display: inline-block;
    text-decoration: none;
  }
  .header__navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .header__navigation li:not(:last-child) {
    margin-right: 28px;
  }
  .header__navigation a {
    font-size: 14px;
    font-weight: 500;
    transition: .15s color;
    color: #333;
    text-decoration: none;
  }
  .header__navigation a:hover {
    color: #00BF78;
  }
  .header__info {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .header__info a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
    text-decoration: none;
  }
  .header__info span {
    font-size: 11px;
  }
  .offer {
    max-width: 540px;
    position: relative;
    z-index: 2;
  }
  .offer__title {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
  }
  .offer__discription {
    font-size: 20px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 59px;
  }
  .btn {
    color: #fff;
    background: #FB9475;
    border-radius: 24px;
    padding: 17px 30px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .btn:hover {
    background: #e27831;
  }
  .header__social {
    position: absolute;
    right: 0;
    top: 49%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
    /* opacity: 0.4; */
  }
  .header__social li {
    margin-bottom: 18px;
  }
  .header__girl {
    position: absolute;
    left: 495px;
    top: 81px;
    z-index: 2;
  }
  .header__circle {
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
    position: absolute;
    left: 544px;
    top: 229px;
  }
  .seaction-wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 99px;
  }
  .seaction-header {
    max-width: 538px;
    /* max-height: 157px; */
  }
  h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 0;
  }
  .seaction__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .seaction__discription {
    font-size: 16px;
    line-height: 26px; 
  }
  .seaction-seconds {
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .seaction-header span {
    font-size: 14px;
    color: #278AFF;
  }
  .seaction__video {
    min-width: 297px;
    max-width: 445px;
    width: 100%;
    height: 297px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: 0;
    cursor: pointer;
    top: 90px;
  }
  .video-overlay {
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
  .seaction__video:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../img/play.svg') no-repeat center;
    z-index: 3;
    transition: 0.15s;
  }
  .seaction__video:after {
    content: 'Короткое видео о нас';
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 168px;
    left: 0;
    right: 0;
    color: #fff;
  }
  .seaction-plus {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 100px;
  }
  .seaction-rooms {
    max-width: 350px;
    /* max-height: 76px; */
    background: url('../img/rooms.svg') no-repeat top;
    padding-top: 72px;
  }
  h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
  }
  .seaction-cosmetics {
    max-width: 350px;
    /* max-height: 76px; */
    background: url('../img/cosmetics.svg') no-repeat top;
    padding-top: 72px;
  }
  .seaction-masters {
    max-width: 350px;
    /* max-height: 76px; */
    background: url('../img/masters.svg') no-repeat top;
    padding-top: 72px;
  }
  .discription__rooms {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    max-width: 296px;
    line-height: 22px;
    margin: 0;
  }
  .title__populars {
    color: #333;
    font-size: 48px;
    font-weight: 700;
    padding-top: 80px;
    margin: 0 0 32px 0;
  }
  .title__popular {
    color: #333;
    font-size: 36px;
    font-weight: 700;
    margin: 0 0 35px 0;
  }
  .title__popularss {
    color: #333;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 32px 0;
  }
  .seaction-popular {
    display: flex;
    margin-bottom: 48px;
  }
  .seaction-populars {
    display: flex;
    margin-bottom: 100px;
  }
  .col__popular {
    max-width: 350px;
    max-height: 340px;
  }
  .seaction-populars img {
    object-fit: cover;
    width: 350px;
    max-height: 180px;
    border-radius: 8px;
  }
  .seaction-popular img {
    object-fit: cover;
    width: 350px;
    max-height: 180px;
    border-radius: 8px;
}
 
  .col__popular:not(:last-child) {
    margin-right: 30px;
  }
  .cols__popular:not(:last-child) {
    margin-right: 30px;
  }
  .cols__popular {
    max-width: 350px;
    max-height: 340px;
  }
  h4 {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .col__discription {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .btn__col {
    border-radius: 17px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
  }
  .navigation-price {
    margin-bottom: 51px;
  }
  .navigation-price ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;   
  }
  .navigation-price a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: .15s color;
    color: #333;
  }
  .navigation-price li:not(:last-child) {
    margin-right: 28px; 
  }
  .navigation-price a:hover{
    color: #00BF78;
  }
  .navigation-price a:active {
    border-bottom: 2px solid #00BF78;
  }
  a span {
    color: #00BF78;
    border-bottom: 2px solid #00BF78;
  }
  .table {
      display: flex;
      /* justify-content: space-between; */
  }
  .table__left {
    width: 444px;
    margin-right: 127px;
  }
  .table__right {
    width: 444px;
  }
  .table__string {
      display: flex;
      justify-content: space-between;
  }
  .table {
    width: 100%;
    margin-bottom: 104px;
  }
  .table__column {
    max-height: 51px;
    overflow: hidden;
  }
  .table__column:not(:last-child) {
    margin-bottom: 36px;
  }
  .table__column span {
    font-size: 14px;
    font-weight: 400;
  }
  h5 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 22px;
    
  }
  .table__columns span {
    color: #00BF78;
    font-weight: 600;
    font-size: 20px;
  }
  .wrappers {
    background-color: #F8F6F7;
    /* margin-bottom: 100px; */
  }
  
  .card-master {
    max-width: 255px;
    max-height: 300px;
    
  }
  .master img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 8px;
  }
  
  .master {
    display: flex;
    justify-content: space-between;
  }
  .master__title {
    margin-top: 20px;
  }
  .master__discription {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 20px;
  }
  .master__experience {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 80px;
    margin-top: 0;
  }
  .card {
    position: relative;
    cursor: pointer;
    height: 100%;
    min-width: 250px;
    max-width: 255px;
    width: 100%;
    opacity: 0.9;
  }
 .nav  {
     display: block;
     position: relative;
    }
 .nav:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0,0,0,.5); 
     opacity: 0;
     height: 300px;
     border-radius: 8px;
     transition: all 0.5s ease;
    }
  .nav:hover:before,
  .nav:hover:after {
    opacity: 1;
}
  .card:after {
    content: 'Записаться \A к мастеру';
    white-space: pre;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 133px;
    left: 0;
    right: 0;
    color: #fff;
  }
  
  
  .discription__populars {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
  
  .credits {
    display: flex;
    justify-content: space-between;
  }
  .credits__discription {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  .credits__footer {
    font-size: 12px;
    font-weight: 400;
    color: #278AFF;
  }
  .navigation__footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 32px;
    margin-bottom: 31px;
  }
  .navigation__footer li:not(:last-child) {
    margin-right: 28px;
  }
  .navigation__footer a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: #333;
  }