 
@media only screen and (max-width: 1280px) { 
} 

@media only screen and (max-width: 992px) { 
} 

@media only screen and (max-width: 768px) {
    .header-top { 
        flex-direction: column;
        gap: 30px;
    }
    .phone-info {
        text-align: center;
    }

    .logo {
        margin: auto;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 15px;
    }
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}
